@model MsgBoard.Models.Dto.UserLoginResult

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("修改", "Updte", "Member")</li>
        <li>@Html.ActionLink("登出", "LogOut", "Member")</li>
        @{
            if (Model.User.IsAdmin)
            {
                <li>@Html.ActionLink("後台", "Index", "Admin")</li>
            }
        }
    </ul>