@{
    ViewBag.Title = "Post List";
}

@Html.ActionLink("New Post", "Create", "Post", null, new { @class = "btn btn-primary" })

<div id="app">
</div>

@section memberArea
{
    @Html.Partial("_MemberArea")
}